

h1 {
  text-align: center;
  color: white;
}

body {
  background-color: darkslateblue;
}

.grid {
  display: grid;
  grid-template-columns: 25vh 25vh 25vh;
  grid-gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.row {
  display: table-row;
}

.square {
  background-color: ghostwhite;
  color: white;
  height: 25vh;
  width: 25vh;
  font-size: 20vh;
  text-align: center;
  font-family: sans-serif;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: cadetblue;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: grey 1px 1px 13px;
}

.x {
  color: red;
}
.o {
  color: blue;
}
