h1 {
  text-align: center;
  text-transform: uppercase;
  color: ghostwhite;
  font-size: 4rem;
}

body {
  background-color: darkslateblue;
}

.grid {
  display: grid;
  grid-template-columns: 18vw 18vw 18vw;
  grid-gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.row {
  display: table-row;
}

.square {
  background-color: ghostwhite;
  color: white;
  height: 18vw;
  width: 18vw;
  font-size: 15vw;
  line-height: 1.26;
  text-align: center;
  font-family: sans-serif;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: cadetblue;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: grey 1px 1px 13px;
}

.x {
  color: red;
}
.o {
  color: blue;
}

@media only screen and (max-device-width : 414px) and (max-device-height : 896px) {
  .square {
    height: 25vw;
    width: 25vw;
    font-size: 20vw;
    line-height: 1.36;
  }

  .grid {
    grid-template-columns: 25vw 25vw 25vw;
  }
}